.toy-preview {
    padding: 1em;
    font-size: 1.2rem;
}

.toy-preview .toy-name {
    font-size: 1.45rem;
}

.toy-preview img {
    max-height: 200px;
}

.toy-preview .green {
    color: green;
}

.toy-preview .red {
    color: red;
}