.main-layout {
    display: grid;
    grid-template-columns: 16px 1fr 16px;

    >.full {
        grid-column: 1/-1;
    }

    >*:not(.full) {
        grid-column: 2;
    }
}

.container {
    max-width: 800px;
    padding: 1em;
    margin: auto;
}

footer {
    text-align: center;
    padding: 1em;
}